{% extends "../shared/main.html" %}

{% block title %}
    {{ super }}| Book | Index
{% endblock title %}

{% block body %}
<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 left-div">
      <div class="starter-template">
        <h1>Local Library Home</h1>
        <p class="lead">Welcome to LocalLibrary</p>
        <hr>
        <ul class="list-unstyled">
            <li>
                <p><strong>Number of books: </strong>{{num_books}}</p>
            </li>
            <li>
                <p><strong>Number of instances: </strong>{{num_instances}}</p>
            </li>
            <li>
                <p><strong>Number of available instances: </strong>{{num_instances_available}}</p>
            </li>
            <li>
                <p><strong>Number of authors: </strong>{{num_author}}</p>
            </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      {% include "../partial/carousel.html" %}
    </div>
  </div>
</div>
{% endblock body %}
